<!DOCTYPE html>

<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Pain Detection App</title>
  
  	<link rel="apple-touch-icon" sizes="57x57" href="images/icon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/icon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/icon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/icon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/icon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/icon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/icon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/icon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/icon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/icon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/icon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/icon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/icon/favicon-16x16.png">
	
	  <meta name="author" content="Kevin Doan - Digital Accelerators">
	<meta name="description" content="Pain Detection App UMC Amsterdam UTwente">

</head>
  <script>
</script>

<style>
.hidden {
  display: none;
}

button {
  margin: 0 10px 20px 0;
  width: 99px;
}

button:last-of-type {
  margin: 0;
}

canvas {
  display: block;
  margin: 0 0 20px 0;
}

img {
  display: block;
  margin: 0 0 20px 0;
}

input#zoom {
  margin: 0 0 20px 0;
  width: 100%;
}

.borderBelow {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

video {
  margin: 0 0px 0px 0;
  vertical-align: top;
  width: 100%;
}

</style>
<body>
<div>
<nav class="nav_top">
  <a href="#" class="nav__link__top">
	<img src="../images/logo-utwente.png" style="height: 70px;"/>
  </a>
  <a href="#" class="nav__link__top">
	<h2 style="font-size: 30px;">Pain Detection App</h2>
	<p style="margin-top: -10px; margin-left: -4px;">K. Doan, H. Hazelzet, T. Slingerland, S. Zoet<span style="margin-left: 8px; font-size: 8px;">&copy 2020</span></p>
  </a>
  <a href="#" class="nav__link__top">
	<img src="../images/amsterdam-umc-logo.jpg" style="height: 100px;"/>
  </a>
</nav>

  <div class='center'>
      <input class="hidden" id="zoom" type="range" step="20">
    
<div id="camera">
    <video autoplay playsinline class="hidden"></video>
		<a style="position: absolute;z-index:-1; color: red; left: 25%; right: 25%;">This app is only compatible on the latest version of Google Chrome, Firefox or Microsoft Edge.</a>

</div>
	
	
<center>
	<div class="fotoresultaat hidden" id="fotoresultaat">
		<i onclick='iconhide()' id="iconcancel" class="material-icons nav__icon">cancel</i>
		<canvas class="hidden" style="width:100%;"></canvas>
	</div>
</center>
	
	
    
      <div class='result-label'>
        <label id='result-label'><h2 style="font-size: 22px">Take a photo of your face, then analyze to find out if you are in pain or not!</h2></label>
      </div>
    
  </div>
<nav class="nav_bottom">	
  <select style="font-size: 33px;" id="videoSource" class="nav__link__bottom__color__a nav_fix">
  <a class="nav__link__bottom">
	 <i style="font-size: 60px;" class="material-icons nav__icon">error_outline</i>
	 <option value="">Camera Source</option>
  </a>
  </select>
  <a id="videoSourceDisabled" style="font-size: 33px; display:none;" class="nav__link__bottom__color__a_disabled nav__link__bottom">
	Camera selected
  </a>
  <a href="#" id="grabFrame" class="nav__link__bottom nav__link__bottom__color__b">
    <i style="font-size: 60px;" class="material-icons nav__icon">center_focus_weak</i>
    <span class="nav__text">Take Photo</span>
  </a>
  <a id="grabFrameDisabled" style="display: none;" class="nav__link__bottom nav__link__bottom__color__disabled">
    <i style="font-size: 60px;" class="material-icons nav__icon">center_focus_weak</i>
    <span class="nav__text">Photo Taken</span>
  </a>
  <a href="#" id='analyze-button' class="nav__link__bottom nav__link__bottom__color__c analyze-button" onclick='analyze()'>
    <i id="iconanalyze" style="font-size: 60px;" class="material-icons nav__icon">assessment</i>
    <span id="analyzetext" class="nav__text">Analyze Face</span>
  </a>
</nav>
</div>
<script src='../static/client.js'></script>
</body>
</html>
