body {
    margin: 0 0 55px 0;
}


.nav_top {
    position: relative;
    top: 0;
    width: 100%;
	padding-top: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
}

.nav_bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
	z-index:500;
}

.nav__link__top, .nav__link__bottom  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link__top {
	font-size: 13px;
	cursor: auto;
}

.nav__link__bottom {
	font-size: 33px;
 }


.nav__link__bottom__color__a {
	background-color: #241f25;
	color: #fff;
}
.nav__link__bottom__color__a_disabled {
	background-color: #353235;
	color: #fff;
}

.nav__link__bottom__color__b {
	background-color: #d54141;
	margin-top: -20px;
	color: #fff;
}

.nav__link__bottom__color__b_disabled {
		background-color: #d86363;
		color: #fff;
}

.nav__link__bottom__color__c {
    background-color: #eb905b;
	margin-top: -16px;
    color: #fff;
}

.nav__link__bottom__color__c_disabled {
		background-color: #f5c7a3;
		color: white;
		cursor: context-menu;
}

.nav__link__bottom__color__a:hover {
    background-color: #373538;
}

.nav__link__bottom__color__b:hover, .nav__link__bottom__color__disabled {
    background-color: #d86363;
	
}

.nav__link__bottom__color__c:hover {
    background-color: #f6af79;

}

.nav__link--active {
    color: #009578;
}

.nav__icon {
    font-size: 18px;
}
.nav_fix {
	width: 33.333%;	
	cursor: pointer;
	padding-left: 4%;
}


.icon_fix {
	color: #d54141; 
	background: #000;
	border-radius: 100%;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}








.nav_bottom_2 {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 170px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow-x: auto;
	margin-bottom: 200px;
	z-index: 860;
}


.result-label {
	width: 100%;
    font-family: sans-serif;
	display: flex;
    flex-direction: column;
	padding-left: 3%;
	padding-right: 3%;
	align-items: center;
    justify-content: center;
	background: #fff;
}


.nav_bottom_3 {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    display: flex;
    overflow-x: auto;
	margin-bottom: 340px;
	z-index: 1060;
}


.result-label-3 {
	width: 100%;
    font-family: sans-serif;
	display: flex;
    flex-direction: column;
	padding-left: 80%;
	padding-right: 0%;
	opacity: 1;	
}

.resultstyle {
	font-size: 25px;
	font-weight: bold;
}


#iconcancel, #iconcancel2 {
	margin-top: 100px;
	color: red;
	background: black;
	border-radius: 100%;
	z-index: 999 !important;
}

#fotoresultaat, #fotoresultaat2 {
  position: relative;
}  
#fotoresultaat i{
  position: absolute;
  margin: 0 auto;
  z-index: 2;
  height: 100px;
  right: 15px;
  margin-top: 10px;
  font-size:100px;
}

#fotoresultaat2 i {
  position: absolute;
  margin: 0 auto;
  z-index: 900;
  height: 100px;
  right: 15px;
  margin-top: 10px;
  font-size:100px;
}


#fotoresultaat img {
  position: absolute;
  z-index: 1;
  width:100%;
}


button:focus {
    outline: 0;
}

.bgpos {
	position: absolute;
	margin-top: 100px;	
	left: 20%;
	right:20%;
}
#bg {
	width: 100%;
}
